body {
  font-family: Montserrat;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 4%;
}

.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  color: white;
  font-family: Ubuntu;
  font-size: 2rem;
}

.nav-link {
  color: white;
}

.nav-item {
  padding: 0 18px;
}

h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.app-example {
  position: absolute;
  width: 60%;
  transform: rotate(20deg);
  left: 15%;
}

@media (max-width: 1028px) {
  .app-example {
    position: static;
    transform: rotate(0);
  }
}

#features {
  padding: 100px 0;
  text-align: center;
  position: relative;
  background-color: white;
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.icon {
  font-size: 4rem;
  padding-bottom: 20px;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-quote {
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-image {
  margin: 25px;
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px;
  padding-bottom: 5%;
}

#pricing {
  padding: 100px 200px;
  text-align: center;
}

.pricing-card {
  padding: 3% 2%;
}

.pricing-button {
  width: 100%
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 150px 0px;
}

.cta-h3 {
  font-size: 3rem;
  color: white;
  padding: 50px 200px;
}

#footer {
  text-align: center;
  padding-top: 150px;
}

.social-media-icon {
  padding: 20px 10px;
}
