body {
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

p {
  color: #8f8f8f;
}

/*Headings*/
.title-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/*Containers*/

.container-fluid {
  padding: 7% 15%;
}

#title {
  text-align: left;
  background-color: #ff4c68;
  color: white;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  color: white;
  font-family: Ubuntu;
  font-size: 2rem;
}

.nav-link {
  color: white;
}

.nav-item {
  padding: 0 18px;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.app-example {
  position: absolute;
  width: 60%;
  transform: rotate(20deg);
  left: 15%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .app-example {
    position: static;
    transform: rotate(0);
  }
}

#features {
  padding: 100px 0;
  position: relative;
  background-color: white;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.icon {
  font-size: 4rem;
  padding-bottom: 20px;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  margin: 25px;
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px;
  padding-bottom: 5%;
}

#pricing {
}

.pricing-card {
  padding: 3% 2%;
}

.pricing-button {
  width: 100%
}

#cta {
  background-color: #ff4c68;
}

.cta-h3 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding: 10px 200px;
}

#footer {
}

.social-media-icon {
  padding: 20px 10px;
}
