body {
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

p {
  color: #8f8f8f;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.social-media-icon {
  padding: 20px 10px;
}
